html, body {
  min-height: 100% !important;
  height:     100%;
  padding-top: 28px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin:  0px 0px 0px 0px;
}
.content-window {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
}
.mapstyle {
  width: 100%; 
  height: 100%; 
}
.wrapper {
  display: flex;
  width: 100%;
}
#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
}
